body {
  height: 50vh;
  box-sizing: border-box;
  font-family: serif;
  font-size: 28px;
  color: #009E6C;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 5px #009cad41;
 width: 50%;
  margin: 15% auto;
}
.container span {
  color: #505EEE;
  font-weight: 600;
  }